/* App.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1 {
    color: #333333;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #555555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input, textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button1, .button2, button {
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.button2 {
    width: calc(50% - 10px);
}

button:hover, .button1:hover, .button2:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li strong {
    font-size: 24px;
    color: #333333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

li p {
    font-size: 18px;
    color: #555555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
